


.content{margin:10px 10px;display:inline-block;}




.photo{width: 130px;height:130px;margin: 0 auto;width:205px;}
.img-thumbnail{height:100%;width:100%;}
.form{border: 1px solid red;margin:auto;padding-top:50px;}
.show{width: 600px;height:450px}