<!DOCTYPE html>
<html>
  <head>
    <title>PhotoAlbum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
   function myFunction() {
   var x = document.URL;
   document.getElementById("share").src ="https://www.facebook.com/plugins/like.php?href="+ x +"&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=1818422994855649"
  }





  </script>
  </head>

  <body  onload="myFunction()">
    <%= yield %>

  </body>
</html>
